<ol>
    
    <% bookTypeArray.forEach(element => { %>
        <li class="booktypelist">
            <div class="bookcover">
                <img class="small-cover" src=<%- `${element.imgUrl}`%>/>
            </div>
            <div class="titleauthorlist">
                <p class="booktitle"><%-`${element.title}`%></p>
                <p class="author"><%-`by ${element.author}`%></p>
                </div>
                            </li>
    <% }); %>
</ol>